@model productsNcategoriescSharp.Models.Category
<br>
<h1 class="text-center"><a href="/">Products</a> | <a href="/categories">Category</a></h1>
<br>
<br>
<div class="container d-flex justify-content-around">
    <div class="registration">
        <form asp-action="CreateCategory" asp-controller="Home" method="POST">
            <h2>New Category</h2>
            <br>
            <span style="color: red;" asp-validation-for="Name"></span>
            <input class="form-control" asp-for="Name" placeholder="Name">
            <br>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <partial name="ExistingCatPartial"></partial>
    
</div>